<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<title>Convertir PDF a Texto</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
	
	<link href="/css/home.css" rel="stylesheet" />
	
	<!-- Kendo -->
	<link href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.default-v2.min.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.ui.core.min.js"></script>
	
	<!-- Alertify -->
	<script src="/webjars/alertifyjs/1.13.1/alertify.min.js"></script>
	<link rel="stylesheet" href="/webjars/alertifyjs/1.13.1/css/alertify.min.css" />
	<link rel="stylesheet" href="/webjars/alertifyjs/1.13.1/css/themes/default.min.css" />
	
</head>

<body>
 	<header>
 		<div id="header-div" class="menu-login">
			<h1 id="texto-subir-factura" class="texto-iniciar expand">Añade tu factura</h1>
			<button class="cta">
				<i class="fa fa-chevron-down fa-1x"></i>
			</button>
			<div id="empresas" class="compañias text hidden">
				<div id="subir-endesa">
					<div id="imagen-endesa">
					    <img src="images\iconos\compañias\endesa.png" alt="Haz clic para subir tu factura"  class="logo-compañias">
					</div>
				</div>
				<div id="subir-iberdrola">
					<div id="imagen-iberdrola">
						<img src="images\iconos\compañias\iberdrola.png" alt="Haz clic para subir tu factura" class="logo-compañias">
					</div>
				</div>
				<div id="subir-naturgy">
					<div id="imagen-naturgy">
						<img src="images\iconos\compañias\naturgy.png" alt="Haz clic para subir tu factura" class="logo-compañias">
					</div>
					
				</div>
				<div id="subir-repsol">
					<div id="imagen-repsol">
						<img src="images\iconos\compañias\repsol.png" alt="Haz clic para subir tu factura" class="logo-compañias">
					</div>
				</div>
				<div id="subir-endesa">
					<div id="imagen-endesa">
					    <img src="images\iconos\compañias\endesa.png" alt="Haz clic para subir tu factura"  class="logo-compañias">
					</div>
				</div>
				<div id="subir-iberdrola">
					<div id="imagen-iberdrola">
						<img src="images\iconos\compañias\iberdrola.png" alt="Haz clic para subir tu factura" class="logo-compañias">
					</div>
				</div>
				<div id="subir-naturgy">
					<div id="imagen-naturgy">
						<img src="images\iconos\compañias\naturgy.png" alt="Haz clic para subir tu factura" class="logo-compañias">
					</div>
					
				</div>
				<div id="subir-repsol">
					<div id="imagen-repsol">
						<img src="images\iconos\compañias\repsol.png" alt="Haz clic para subir tu factura" class="logo-compañias">
					</div>
				</div>
				<input type="file" id="file-input" accept="application/pdf" style="display:none;">
			</div>
		</div>
 	</header>
 	
 	<div>
	  		<div th:insert="/pages/menu" id="menu"></div>
	  	</div>
 	
	<div class="cuerpo-home">
		<div style = "margin-top: 13%;"></div>
		
		<div id="dashboad">
		    <div id="tabstrip">
		    	<ul>
            		<li class="k-active">Datos Personales</li>
            		<li>Datos de mi compañía</li>
            		<li>Datos generales</li>
            	</ul>
            	
            	<div id="personales">
            		<div id="grafico-gasto-anual" sandbox="allow-scripts allow-same-origin"></div>
            	</div>
            	<div id="mi-empresa">
            	
            	</div>
            	<div id="generales">

            	</div>
            	
		    </div>
			
		</div>
		

	</div>
<br />
<br />
<footer class="bg-info">
	<p class="text-center">
		&copy; <a href="https://www.facebook.com/maruf.al.bashir"
			target="_blank">Maruf-Al Bashir 2018</a>
	</p>
</footer>

<div id="ventana-error" class="ventana-error">
	<div class="ventana-error-interior">
		<div class="ventana-error-cabecera">
			<p class="ventana-error-cabecera-texto">Error:</p>
			<span class="cerrar" onclick="closeModal()">&times;</span>
		</div>
	    <div class="ventana-error-content">
	        <p id="mensaje-error">Error desconocido.</p>
	    </div>
	</div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('grafico-gasto-anual', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Monthly Average Temperature'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                }
            },
            series: [{
                name: 'Tokyo',
                data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }]
        });
    });
</script>

	<script src="/js/home.js"></script>
</body>
</html>
